<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            width: 80%;
            background-color: #ccc;
            padding: 15px;
            overflow: auto;
        }
        #container div{
            background-color: rgba(255, 0, 0, .3);
            margin-bottom: 5px;
            width: 51%;
            height: 50px;
        }
        #div1{
            float: left;
        }
        #div2{
            float:right
        }
        #div3{
            clear: both;
        }
    </style>
</head>
<body>
    <h1>Float and Clear</h1>
<div id="container" class="clearfix">

    <div id="div1">Div 1</div>
    <div id="div2">Div 2</div>
    <div id="div3">Div 3</div>
</div>
</body>
</html>