<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #div1 {
            background-color: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 90%;
            /* height: 100px; */
            position: relative;
            /* position: sticky; (ele gruda na posição definida na viewport do usuario)
            top: 0; */
        }

        #div2 {
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;
            left: 20px;
        }

        #div3 {
            background-color: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            /* position: fixed; sempre Fixo na viewport */
            position: static;
            bottom: 0px;
            right: 0px;
        }
    </style>
</head>

<body>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>

    <div id="div1">1
        <div id="div2">2
            <div id="div3">3

            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem rerum esse, et error nam quo
        architecto explicabo amet asperiores? Neque odit illo nulla facere accusamus facilis, soluta quaerat
        consequatur.</p>

</body>

</html>