/*#region Body*/
body{
    background-color: rgb(192, 186, 186);
}
/*#endregion*/
h1{
    color: red;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}
p{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
ul{
    font-size: 20px;
}
li{
    padding-top: 15px;
}
a{
    text-decoration: none;
    font-variant: normal;
}




